<form [formGroup]="form" (ngSubmit)="login()">
    <div class="container">
        <div class="row">
            <div class="card text-center">
                <div class="card-header">
                  LOGIN
                </div>
                <div class="card-body p-4" >
                  <label style="float: left;">Usuario</label>
                  <input class="form-control m-2" type="text" placeholder="Usuario" formControlName="usuario">
                  <label style="float: left;">Password</label>
                  <input class="form-control m-2" type="password" placeholder="Password" formControlName="password">
                  <button type="submit" class="btn btn-primary  btn-block">Iniciar Sesion</button>
            
                </div>
                
              </div>
        </div>
      </div>
</form>
