



  
  <form  [formGroup]="form" (ngSubmit)="saveUser()">
    <div class="mb-3">
        <label class="form-label" >Empleado</label>
        <select class="form-select"  formControlName="id_employe"    >
            <option value="0" selected>Seleccione un empleado</option>
            <option value="{{employeeCbx.id_employe}}" *ngFor="let employeeCbx of employeeService.list" value="{{employeeCbx.id_employe}}" >{{employeeCbx.names}}</option>
          </select>
    </div>
   
      <div class="mb-3">
          <label class="form-label" >Usuario</label>
          <input type="text" class="form-control"  required placeholder="Usuario" formControlName="usuario">
        </div>
  
      <div class="mb-3">
        <label class="form-label" >Password</label>
        <input type="text" class="form-control"  required placeholder="Password" formControlName="password">
      </div>
      <div class="mb-3">
        <label class="form-label" >Rol</label>
        <input type="text" class="form-control"  required placeholder="Rol" formControlName="rol">
      </div>
     
      
      <button type="submit" class="btn btn-primary">Guardar</button>
  
    </form>