
<table class="table" style="font-size:75%;" >
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Usuario</th>
        <th scope="col">Password</th>
        <th scope="col">Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuers of employeeService.listuser ">
        <th scope="row">{{usuers.id_user}}</th>
        <td>{{usuers.usuario}}</td>
        <td>{{usuers.password}}</td>
        <td>{{usuers.rol}}</td>
        <td> <i class="far fa-trash-alt fa-lg text-danger"    (click)="deleteUser(usuers.id_user)" style="cursor: pointer;">Eliminar</i></td>
      </tr>
    </tbody>
  </table>
